<!DOCTYPE html>
<html>
 
<head>
<title>Home Easy</title>
<link rel="stylesheet" href="app.component.css">
</head>
<body>
   <header> 
     <div class="main">
        <div class="logo">
         <img src="https://i.ibb.co/02jGf2r/oie-transparent-1.png">
       </div>
       <ul>
         <li><a href="a">Inicio</a></li>
         <li><a href="a">Sobre nós</a></li>
         <li><a href="a">Contato</a></li>
       </ul>
      </div>
      <div class="title">
        <h1>HOME EASY</h1>
 
      </div>
      <div class="button">
                <a href="a" class="btn"> ENCONTRE UM SERVIÇO</a>
                <a href="../login/login.component.html" class="btn"> CADASTRAR MEUS SERVIÇOS</a>
            </div>
   </header>
</body>
 
 
</html>
